lockfile-include-tarball-url=true
always-auth=false
sass_binary_site=https://npmmirror.com/mirrors/node-sass
node_gyp_binary_host_mirror=https://npmmirror.com/mirrors/node-gyp/
registry=https://registry.npmmirror.com

# GitHub Packages npm registry for @ycwang-dev
@ycwang-dev:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}
